a{
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}
.navbar{
    background-color: #a2bcef;
    height: 80px;
}
.navbar-brand{
    color: black;
}
.navbar-brand:hover{
    color: #666777;
    transition: 0.3s color;
}
.navbar-toggler{
    border: none;
    font-size: 1.25rem;
}
.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link{
    color:#666777;
    position: relative;
}
.nav-link:hover, .nav-link:active{
    color: black;
}
@media (min-width: 991px) {
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #1c45a4;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    .nav-link:hover::before, .nav-link.active::before{
        width: 100%;
        visibility: visible;
    }

}
.navbar .container-fluid img{
    height: 40px;
}

.jumbotron button{
    background-color: #a2bcef;
}
section{
    background-color: #1c45a4;
}
.logoFooter{
    height: 40px;
    width: 40px;
}
.card-img, .card-img-bottom, .card-img-top{
    height: 454px;
}
.card:hover img{
    transition: 0.1s ease-in-out;
    transform: scale(0.95);
}

@media screen and (max-width: 990px){
    .card-img, .card-img-bottom, .card-img-top{
        height: auto;
        width: auto;
    }
}

.bg-body-tertiary{
    background-image: url("images/background.jpg");
    background-position: center;
    background-attachment: fixed;
    color: #dac6c6;
}

.\.logoFood img:hover{
    transition: 0.2s ease-in-out;
    transform: scale(2) ;
}
.\.menuJumbo{
    background-image: url("images/background2.jpg");
    background-position: center;
    background-attachment: fixed;
    color: #dac6c6;
    background-size: auto;
}
.\.imgPagi img{
    width: 350px;
    height: 350px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    object-fit: cover;

}
.\.imgPagi{
    width: 350px;
    height: 350px;
}
.\.imgPagi img:hover{
    transition: 0.3s ease-in-out;
    transform: scale(0.9) ;
}

@media screen and (max-width: 1200px) and (min-width: 991px){

    .\.imgPagi{
        width: 300px;
        height: 300px;
    }

    .\.imgPagi img{
        height: 300px;
        width: 300px;
    }

}

@media screen and (max-width: 768px){
    .container .rowww{
        flex-direction: column;

    }
}